.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sub-container {
  display: flex;
}

.characters {
  width: 50%;
}

.comics {
  width: 50%;
}
