* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.cont {
  background-color: hwb(210 26% 66%);
}

.heading1 {
  display: block;
  color: white;
  font-size: 4rem;
  text-decoration: none;
  width: fit-content;
  margin: 8rem auto;
  margin-bottom: 6rem;
}
