.cont {
  padding: 3rem 0;
}

.pagination {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.pagination li {
  color: white;
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.current {
  font-weight: bold;
}

.pagination .change-page {
  font-size: 3rem;
}

.change-page:hover {
  cursor: pointer;
  color: blue;
}
